.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #555;
}

.App-header {
  position: relative;
  width: 100%;
}

.App-logo {
  height: 100vh;
  width: auto;
}

.Overlay {
  position: absolute;
  top: 20%; /* Move it to the top quarter of the page */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5em; /* Increase the size of the text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

/* Responsive styles */
@media (max-width: 600px) {
  .App-logo {
    height: auto;
    width: 100vw;
  }

  .Overlay {
    font-size: 2em; /* Decrease the size of the text for mobile */
  }
}